<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ky.clothing.dao.CartMapper">
    <resultMap id="BaseResultMap" type="com.ky.clothing.entity.Cart">
        <id column="cart_id" jdbcType="INTEGER" property="cartId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="isBuy" jdbcType="SMALLINT" property="isBuy"/>
        <result column="cart_goods_num" jdbcType="INTEGER" property="cartGoodsNum"/>
        <result column="cart_goods_size" jdbcType="VARCHAR" property="cartGoodsSize"/>
        <result column="cart_valid" jdbcType="BOOLEAN" property="cartValid"/>
    </resultMap>
    <sql id="Base_Column_List">
            cart_id,
            user_id,
            goods_id,
            isBuy,
            cart_goods_num,
            cart_goods_size,
            cart_valid
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cart
        where cart_valid = 1
        and isBuy = 0
        and cart_id = #{cartId,jdbcType=INTEGER}
    </select>
    <insert id="insert" keyColumn="cart_id" keyProperty="cartId" parameterType="com.ky.clothing.entity.Cart"
            useGeneratedKeys="true">
        insert into cart (user_id, goods_id, isBuy,
                          cart_goods_num, cart_goods_size, cart_valid)
        values (#{userId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{isbuy,jdbcType=SMALLINT},
                #{cartGoodsNum,jdbcType=INTEGER}, #{cartGoodsSize}, #{cartValid,jdbcType=BOOLEAN})
    </insert>
    <insert id="insertSelective" keyColumn="cart_id" keyProperty="cartId" parameterType="com.ky.clothing.entity.Cart"
            useGeneratedKeys="true">
        insert into cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="isBuy != null">
                isBuy,
            </if>
            <if test="cartGoodsNum != null">
                cart_goods_num,
            </if>
            <if test="cartGoodsSize != null">
                cart_goods_size,
            </if>
            <if test="cartValid != null">
                cart_valid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="isBuy != null">
                #{isBuy,jdbcType=SMALLINT},
            </if>
            <if test="cartGoodsNum != null">
                #{cartGoodsNum,jdbcType=INTEGER},
            </if>
            <if test="cartGoodsSize != null">
                #{cartGoodsSize,jdbcType=VARCHAR},
            </if>
            <if test="cartValid != null">
                #{cartValid,jdbcType=BOOLEAN},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ky.clothing.entity.Cart">
        update cart
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="isBuy != null">
                isBuy = #{isBuy,jdbcType=SMALLINT},
            </if>
            <if test="cartGoodsNum != null">
                cart_goods_num = #{cartGoodsNum,jdbcType=INTEGER},
            </if>
            <if test="cartGoodsSize != null">
                cart_goods_size = #{cartGoodsSize,jdbcType=VARCHAR},
            </if>
            <if test="cartValid != null">
                cart_valid = #{cartValid,jdbcType=BOOLEAN},
            </if>
        </set>
        where cart_valid = 1
        and isBuy = 0
        and cart_id = #{cartId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ky.clothing.entity.Cart">
        update cart
        set user_id         = #{userId,jdbcType=INTEGER},
            goods_id        = #{goodsId,jdbcType=INTEGER},
            isBuy           = #{isBuy,jdbcType=SMALLINT},
            cart_goods_num  = #{cartGoodsNum,jdbcType=INTEGER},
            cart_goods_size = #{cartGoodsSize,jdbcType=VARCHAR},
            cart_valid      = #{cartValid,jdbcType=BOOLEAN}
        where cart_valid = 1
          and isBuy = 0
          and cart_id = #{cartId,jdbcType=INTEGER}
    </update>
    <!--根据商品id、用户id、商品size查询记录-->
    <select id="findByGoodsIdAndUserInAndCartGoodsSize" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cart
        where cart_valid = 1
        AND isBuy = 0
        and goods_id = #{goodsId,jdbcType=INTEGER}
        and user_id = #{userId,jdbcType=INTEGER}
        and cart_goods_size = #{cartGoodsSize,jdbcType=VARCHAR}
    </select>
    <!--根据用户id查询用户的购物车信息-->
    <select id="findBaseInfoByUserId" resultType="java.util.Map" parameterType="integer">
        SELECT c.cart_id         cartId,
               g.goods_id        goodsId,
               g.goods_image_url goodsImageUrl,
               g.goods_name      goodsName,
               c.cart_goods_size cartGoodsSize,
               g.goods_price     goodsPrice,
               c.cart_goods_num  cartGoodsNum,
               g.goods_stock     goodsStock
        FROM cart c
                 LEFT JOIN `user` u ON u.user_id = c.user_id
                 LEFT JOIN goods g ON g.goods_id = c.goods_id
        WHERE c.cart_valid = 1
          AND u.user_valid = 1
          AND g.goods_valid = 1
          AND c.isBuy = 0
          AND u.user_id = #{userId}
    </select>
    <!--将cart的商品num自增-->
    <update id="updateCartGoodsNumInc">
        update cart
        set cart_goods_num = cart_goods_num + 1
        where cart_valid = 1
          AND isBuy = 0
          and cart_id = #{cartId,jdbcType=INTEGER}
    </update>
    <!--根据userId查询用户的购物车数量-->
    <select id="findCountUserId" resultType="int" parameterType="integer">
        select count(user_id)
        from cart
        where cart_valid = 1
          AND isBuy = 0
          and user_id = #{userId}
    </select>
    <!--根据用户id查询用户的购物车信息，为订单做准备-->
    <select id="findByUserIdForCheckOrder" resultType="java.util.Map" parameterType="integer">
        SELECT g.goods_name                     goodsName,
               c.cart_goods_size                cartGoodsSize,
               c.cart_goods_num                 cartGoodsNum,
               g.goods_price * c.cart_goods_num totalPrice
        FROM cart c
                 LEFT JOIN `user` u ON u.user_id = c.user_id
                 LEFT JOIN goods g ON g.goods_id = c.goods_id
        WHERE c.cart_valid = 1
          AND u.user_valid = 1
          AND g.goods_valid = 1
          AND c.isBuy = 0
          AND u.user_id = #{userId}
    </select>
    <!--根据用户id查询出所有有效且未购买的购物车商品数量信息-->
    <select id="selectGoodsIdAndCartGoodsNumByUserId" resultType="java.util.Map">
        SELECT cart_id cartId
        FROM cart
        WHERE cart_valid = 1
          AND isBuy = 0
          AND user_id = #{userId}
    </select>
    <!--根据cartId删除购物车信息-->
    <update id="deleteByCartId" parameterType="integer">
        update cart
        set cart_valid = 0
        where isBuy = 0
          AND cart_valid = 1
          AND cart_id = #{cartId,jdbcType=INTEGER}
    </update>
    <!--根据用户id清空用户购物车中的所有商品-->
    <update id="deleteByUserId">
        update cart
        set cart_valid = 0
        where isBuy = 0
          AND cart_valid = 1
          AND user_id = #{userId}
    </update>
    <!--根据cartId修改cartGoodsNum的值-->
    <update id="updateCartGoodsNumByCartId" parameterType="cart">
        update cart
        set cart_goods_num = #{cartGoodsNum}
        where cart_valid = 1
          AND isBuy = 0
          and cart_id = #{cartId}
    </update>
    <!--更新购物车商品的购买标志-->
    <update id="updateIsBuyByUserId" parameterType="integer">
        update cart
        set isBuy = 1
        where cart_valid = 1
          AND isBuy = 0
          and user_id = #{userId,jdbcType=INTEGER}
    </update>
</mapper>