<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ky.clothing.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.ky.clothing.entity.Order">
        <id column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="goods_money" jdbcType="DOUBLE" property="goodsMoney"/>
        <result column="total_money" jdbcType="DOUBLE" property="totalMoney"/>
        <result column="order_status" jdbcType="SMALLINT" property="orderStatus"/>
        <result column="deliver_money" jdbcType="DOUBLE" property="deliverMoney"/>
        <result column="isPay" jdbcType="SMALLINT" property="ispay"/>
        <result column="isInvoice" jdbcType="SMALLINT" property="isinvoice"/>
        <result column="isClosed" jdbcType="SMALLINT" property="isclosed"/>
        <result column="order_address" jdbcType="VARCHAR" property="orderAddress"/>
        <result column="user_real_name" jdbcType="VARCHAR" property="userRealName"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="invoice_client" jdbcType="VARCHAR" property="invoiceClient"/>
        <result column="tax_num" jdbcType="VARCHAR" property="taxNum"/>
        <result column="order_remark" jdbcType="VARCHAR" property="orderRemark"/>
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime"/>
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="express_no" jdbcType="VARCHAR" property="expressNo"/>
        <result column="express_name" jdbcType="VARCHAR" property="expressName"/>
        <result column="order_valid" jdbcType="BOOLEAN" property="orderValid"/>
    </resultMap>
    <sql id="Base_Column_List">
            order_id,
            user_id,
            order_no,
            goods_money,
            total_money,
            order_status,
            deliver_money,
            isPay,
            isInvoice,
            isClosed,
            order_address,
            user_real_name,
            user_phone,
            invoice_client,
            tax_num,
            order_remark,
            receive_time,
            delivery_time,
            create_time,
            express_no,
            express_name,
            order_valid
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `order`
        where order_id = #{orderId,jdbcType=INTEGER}
    </select>
    <!--根据userId查询用户的所有订单详情-->
    <select id="selectBaseInfoByUserId" resultType="java.util.Map" parameterType="integer">
        select order_id     orderId,
               order_no     orderNo,
               order_status orderStatus,
               total_money  totalMoney,
               isInvoice    isInvoice
        from `order`
        where order_valid = 1
          and user_id = #{userId}
    </select>
    <!--分页查询基本信息-->
    <select id="selectLimit" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `order`
        where order_valid = 1
        and isClosed = 0
        order by order_id
        limit #{startIndex}, #{pageSize}
    </select>
    <!--查询记录总数-->
    <select id="selectCountOrderId" resultType="java.lang.Integer">
        select count(order_id)
        from `order`
        where order_valid = 1
          and isClosed = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from `order`
        where order_id = #{orderId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="order_id" keyProperty="orderId" parameterType="com.ky.clothing.entity.Order"
            useGeneratedKeys="true">
        insert into `order` (user_id, order_no, goods_money,
                             total_money, order_status, deliver_money,
                             isPay, isInvoice, isClosed,
                             order_address, user_real_name, user_phone,
                             invoice_client, tax_num, order_remark,
                             receive_time, delivery_time, create_time,
                             express_no, express_name, order_valid)
        values (#{userId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{goodsMoney,jdbcType=DOUBLE},
                #{totalMoney,jdbcType=DOUBLE}, #{orderStatus,jdbcType=SMALLINT}, #{deliverMoney,jdbcType=DOUBLE},
                #{ispay,jdbcType=SMALLINT}, #{isinvoice,jdbcType=SMALLINT}, #{isclosed,jdbcType=SMALLINT},
                #{orderAddress,jdbcType=VARCHAR}, #{userRealName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR},
                #{invoiceClient,jdbcType=VARCHAR}, #{taxNum,jdbcType=VARCHAR}, #{orderRemark,jdbcType=VARCHAR},
                #{receiveTime,jdbcType=TIMESTAMP}, #{deliveryTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
                #{expressNo,jdbcType=VARCHAR}, #{expressName,jdbcType=VARCHAR}, #{orderValid,jdbcType=BOOLEAN})
    </insert>
    <insert id="insertSelective" keyColumn="order_id" keyProperty="orderId" parameterType="com.ky.clothing.entity.Order"
            useGeneratedKeys="true">
        insert into `order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="goodsMoney != null">
                goods_money,
            </if>
            <if test="totalMoney != null">
                total_money,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="deliverMoney != null">
                deliver_money,
            </if>
            <if test="ispay != null">
                isPay,
            </if>
            <if test="isinvoice != null">
                isInvoice,
            </if>
            <if test="isclosed != null">
                isClosed,
            </if>
            <if test="orderAddress != null">
                order_address,
            </if>
            <if test="userRealName != null">
                user_real_name,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="invoiceClient != null">
                invoice_client,
            </if>
            <if test="taxNum != null">
                tax_num,
            </if>
            <if test="orderRemark != null">
                order_remark,
            </if>
            <if test="receiveTime != null">
                receive_time,
            </if>
            <if test="deliveryTime != null">
                delivery_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="expressNo != null">
                express_no,
            </if>
            <if test="expressName != null">
                express_name,
            </if>
            <if test="orderValid != null">
                order_valid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="goodsMoney != null">
                #{goodsMoney,jdbcType=DOUBLE},
            </if>
            <if test="totalMoney != null">
                #{totalMoney,jdbcType=DOUBLE},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=SMALLINT},
            </if>
            <if test="deliverMoney != null">
                #{deliverMoney,jdbcType=DOUBLE},
            </if>
            <if test="ispay != null">
                #{ispay,jdbcType=SMALLINT},
            </if>
            <if test="isinvoice != null">
                #{isinvoice,jdbcType=SMALLINT},
            </if>
            <if test="isclosed != null">
                #{isclosed,jdbcType=SMALLINT},
            </if>
            <if test="orderAddress != null">
                #{orderAddress,jdbcType=VARCHAR},
            </if>
            <if test="userRealName != null">
                #{userRealName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="invoiceClient != null">
                #{invoiceClient,jdbcType=VARCHAR},
            </if>
            <if test="taxNum != null">
                #{taxNum,jdbcType=VARCHAR},
            </if>
            <if test="orderRemark != null">
                #{orderRemark,jdbcType=VARCHAR},
            </if>
            <if test="receiveTime != null">
                #{receiveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryTime != null">
                #{deliveryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expressNo != null">
                #{expressNo,jdbcType=VARCHAR},
            </if>
            <if test="expressName != null">
                #{expressName,jdbcType=VARCHAR},
            </if>
            <if test="orderValid != null">
                #{orderValid,jdbcType=BOOLEAN},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ky.clothing.entity.Order">
        update `order`
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="goodsMoney != null">
                goods_money = #{goodsMoney,jdbcType=DOUBLE},
            </if>
            <if test="totalMoney != null">
                total_money = #{totalMoney,jdbcType=DOUBLE},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=SMALLINT},
            </if>
            <if test="deliverMoney != null">
                deliver_money = #{deliverMoney,jdbcType=DOUBLE},
            </if>
            <if test="ispay != null">
                isPay = #{ispay,jdbcType=SMALLINT},
            </if>
            <if test="isinvoice != null">
                isInvoice = #{isinvoice,jdbcType=SMALLINT},
            </if>
            <if test="isclosed != null">
                isClosed = #{isclosed,jdbcType=SMALLINT},
            </if>
            <if test="orderAddress != null">
                order_address = #{orderAddress,jdbcType=VARCHAR},
            </if>
            <if test="userRealName != null">
                user_real_name = #{userRealName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="invoiceClient != null">
                invoice_client = #{invoiceClient,jdbcType=VARCHAR},
            </if>
            <if test="taxNum != null">
                tax_num = #{taxNum,jdbcType=VARCHAR},
            </if>
            <if test="orderRemark != null">
                order_remark = #{orderRemark,jdbcType=VARCHAR},
            </if>
            <if test="receiveTime != null">
                receive_time = #{receiveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expressNo != null">
                express_no = #{expressNo,jdbcType=VARCHAR},
            </if>
            <if test="expressName != null">
                express_name = #{expressName,jdbcType=VARCHAR},
            </if>
            <if test="orderValid != null">
                order_valid = #{orderValid,jdbcType=BOOLEAN},
            </if>
        </set>
        where order_id = #{orderId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ky.clothing.entity.Order">
        update `order`
        set user_id        = #{userId,jdbcType=INTEGER},
            order_no       = #{orderNo,jdbcType=VARCHAR},
            goods_money    = #{goodsMoney,jdbcType=DOUBLE},
            total_money    = #{totalMoney,jdbcType=DOUBLE},
            order_status   = #{orderStatus,jdbcType=SMALLINT},
            deliver_money  = #{deliverMoney,jdbcType=DOUBLE},
            isPay          = #{ispay,jdbcType=SMALLINT},
            isInvoice      = #{isinvoice,jdbcType=SMALLINT},
            isClosed       = #{isclosed,jdbcType=SMALLINT},
            order_address  = #{orderAddress,jdbcType=VARCHAR},
            user_real_name = #{userRealName,jdbcType=VARCHAR},
            user_phone     = #{userPhone,jdbcType=VARCHAR},
            invoice_client = #{invoiceClient,jdbcType=VARCHAR},
            tax_num        = #{taxNum,jdbcType=VARCHAR},
            order_remark   = #{orderRemark,jdbcType=VARCHAR},
            receive_time   = #{receiveTime,jdbcType=TIMESTAMP},
            delivery_time  = #{deliveryTime,jdbcType=TIMESTAMP},
            create_time    = #{createTime,jdbcType=TIMESTAMP},
            express_no     = #{expressNo,jdbcType=VARCHAR},
            express_name   = #{expressName,jdbcType=VARCHAR},
            order_valid    = #{orderValid,jdbcType=BOOLEAN}
        where order_id = #{orderId,jdbcType=INTEGER}
    </update>
    <!--根据orderId删除order记录-->
    <update id="deleteByOrderId" parameterType="integer">
        update `order`
        set order_valid = 0
        where order_valid = 1
          and order_status != 4
          and isClosed = 0
          and order_id = #{orderId}
    </update>
    <!--根据订单号更新订单的支付信息-->
    <update id="updateIsPayAndOrderStatusByOrderNo" parameterType="string">
        update `order`
        set order_status = 1,
            isPay        = 1
        where order_valid = 1
          and order_status = 0
          and isPay = 0
          and isClosed = 0
          and order_no = #{orderNo}
    </update>
</mapper>